.img {
    max-width: 80px;
    height: 100px;
    width: 100%;
}

.listItems {
    background-color: #fff;
}

.list {
    border-bottom: 1px solid grey;
    padding: 15px;
    padding: 10px 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    z-index: 10000;
}