.img {
    width: 280px;
    height: 280px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.flexPhotos {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.flexPhotos::-webkit-scrollbar {
    width: 0;
}

.title {
    padding: 10px 0px;
    color: #40312C;
    font-size: 16px;
    font-weight: 700;
}

.titleSection {
    margin: 30px 0;
    font-size: 30px;
    color: #40312C;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Playfair Display',serif;
}